<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.openplatform.mapper.AdminUserMapper">

    <select id="getByEmail" resultType="adminUser">
        select ID, EMAIL, REAL_NAME, STATUS, PASSWORD
        from admin_user
        where EMAIL = #{email}
    </select>
    <select id="find" resultType="adminUser">
        select id, password, email, real_name, status
        from admin_user
        <where>
            <if test="realName!=null and realName!=''">
                and real_name like concat('%',#{realName},'%')
            </if>
            <if test="email!=null and email!=''">
                and email like concat('%',#{email},'%')
            </if>
            <if test="status!=null">
                and status = #{status}
            </if>
        </where>
    </select>
</mapper>